#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fafafa;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    gap: 60px;
    z-index: 9;
}
#navbar:first-child {
    padding-left: 70px;
}